.DS_Store
.dart_tool/

.packages
.pub/

build/

.idea

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
