<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.alexmiller.map_launcher">

    <queries>
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.google.android.apps.mapslite" />
        <package android:name="com.autonavi.minimap" />
        <package android:name="com.baidu.BaiduMap" />
        <package android:name="com.waze" />
        <package android:name="ru.yandex.yandexnavi" />
        <package android:name="ru.yandex.yandexmaps" />
        <package android:name="com.citymapper.app.release" />
        <package android:name="com.mapswithme.maps.pro" />
        <package android:name="net.osmand" />
        <package android:name="ru.dublgis.dgismobile" />
        <package android:name="com.tencent.map" />
    </queries>

</manifest>
