<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.fluttered.map_launcher">

  <queries>
    <package android:name="com.google.android.apps.maps" /> <!-- Google Maps -->
    <package android:name="com.google.android.apps.mapslite" /> <!-- Google Maps Go -->
    <package android:name="com.autonavi.minimap" /> <!-- Amap -->
    <package android:name="com.baidu.BaiduMap" /> <!-- Baidu Maps -->
    <package android:name="com.waze" /> <!-- Wave -->
    <package android:name="ru.yandex.yandexnavi" /> <!-- Yandex Navigator -->
    <package android:name="ru.yandex.yandexmaps" /> <!-- Yandex Maps -->
    <package android:name="com.citymapper.app.release" /> <!-- Citymapper -->
    <package android:name="net.osmand" /> <!-- OsmAnd -->
    <package android:name="net.osmand.plus" /> <!-- OsmAnd+ -->
    <package android:name="ru.dublgis.dgismobile" /> <!-- 2GIS -->
    <package android:name="com.tencent.map" /> <!-- Tencent (QQ Maps) -->
    <package android:name="com.here.app.maps" /> <!-- HERE WeGo -->
    <package android:name="com.huawei.maps.app" /> <!-- Petal Maps -->
    <package android:name="com.alk.copilot.mapviewer" /> <!-- CoPilot -->
    <package android:name="com.tomtom.gplay.navapp" /> <!-- TomTom Go -->
    <package android:name="com.tomtom.gplay.navapp.gofleet" /> <!-- TomTom Go Fleet -->
    <package android:name="com.sygic.truck" /> <!-- Sygic Truck -->
    <package android:name="nl.flitsmeister" /> <!-- Flitsmeister -->
    <package android:name="nl.flitsmeister.flux" /> <!-- Truckmeister -->
    <package android:name="com.nhn.android.nmap" /> <!-- Naver Map -->
    <package android:name="net.daum.android.map" /> <!-- Kakao Maps -->
    <package android:name="com.skt.tmap.ku" /> <!-- TMap -->
    <package android:name="cz.seznam.mapy" /> <!-- Mapy CZ -->
    <package android:name="com.mmi.maps" /> <!-- Mappls MapmyIndia -->
    <package android:name="com.tranzmate" /> <!-- Moovit -->
  </queries>

</manifest>
